    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt| strip_html }}" />
    <meta property="og:description" content="{{ page.excerpt| strip_html }}" />
    {% else %}
    <meta name="description" content="{{ site.description }}">
    <meta property="og:description" content="{{ site.description }}" />
    {% endif %}
    <meta name="author" content="{{ site.name }}" />

    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="twitter:title" content="{{ page.title }}" />
    {% endif %}

    {% if page.image %}
    <meta property="og:image" content="{{ page.image | "https://github-production-user-asset-6210df.s3.amazonaws.com/22304957/288028698-4d7caf66-7b33-4652-b4de-eb2490ee99f5.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20231212%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20231212T230504Z&X-Amz-Expires=300&X-Amz-Signature=84d3312813b4caeb84ad12ad497cd96a9b2005448a4e283597497c196d1c4f46&X-Amz-SignedHeaders=host&actor_id=22304957&key_id=0&repo_id=131233786" }}" />
    {% else %}
    <meta property="og:image" content="{{ '../images/background-code.png' | "https://github-production-user-asset-6210df.s3.amazonaws.com/22304957/288028698-4d7caf66-7b33-4652-b4de-eb2490ee99f5.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20231212%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20231212T230504Z&X-Amz-Expires=300&X-Amz-Signature=84d3312813b4caeb84ad12ad497cd96a9b2005448a4e283597497c196d1c4f46&X-Amz-SignedHeaders=host&actor_id=22304957&key_id=0&repo_id=131233786" }}" />
    {% endif %}

    {% if page.image %}
    <meta property="twitter:image" content="{{ page.image | "https://github-production-user-asset-6210df.s3.amazonaws.com/22304957/288028698-4d7caf66-7b33-4652-b4de-eb2490ee99f5.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20231212%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20231212T230504Z&X-Amz-Expires=300&X-Amz-Signature=84d3312813b4caeb84ad12ad497cd96a9b2005448a4e283597497c196d1c4f46&X-Amz-SignedHeaders=host&actor_id=22304957&key_id=0&repo_id=131233786" }}" />
    {% else %}
    <meta property="twitter:image" content="{{ '../images/background-code.png' | "https://github-production-user-asset-6210df.s3.amazonaws.com/22304957/288028698-4d7caf66-7b33-4652-b4de-eb2490ee99f5.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20231212%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20231212T230504Z&X-Amz-Expires=300&X-Amz-Signature=84d3312813b4caeb84ad12ad497cd96a9b2005448a4e283597497c196d1c4f46&X-Amz-SignedHeaders=host&actor_id=22304957&key_id=0&repo_id=131233786" }}" />
    {% endif %}

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="mgbeltramone">
    <meta name="twitter:creator" content="mgbeltramone">
